/*sets page margins to 0 to ensure no white gaps and sets a universal/default font style*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}


/* This creates a box which serves as a background for all of the screens */
.box {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #191970;
    position: relative;
    overflow: auto;
}


.createTaskForm {
    border-collapse: collapse;
    width: 100%;
    margin: 0; 
    background: #fff;
    position: absolute; 
    top: 0; 
}

/* CSS for the navbar at the top, this sets the background colour, esnures it stays at the top of the screen during scrolling, makes sure theres no gap and also aligns all the text in the center */
.navbar {
    background-color: #48D1CC;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1;
}

.menuitems {
    display: inline-block;
    color: white;
    padding: 1em 5%;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans';
}

/* This ensures that if a menu item is hovered upon, it changes colour to reflect the hover */
.menuitems a:hover {
    background-color: rgb(142, 165, 187);
}


/* Form styles */
.userform {
    display: inline-block;
    margin-right: 10px;
}

/* Button styles */
button {
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #aaaaaa; 
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 30px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #ffffff;
}



.task-container {
    height: 100%;
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 20%;
    border-radius: 0px;
    background-color: #191970;
    width: 80%;
}

/* Task date button styles */
.date-button {
    padding: 8px 12px;
    background-color: rgb(0, 0, 0); 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.date-button:hover {
    background-color: #313131; 
}

/* Task update button styles */
.update-button {
    padding: 8px 12px;
    background-color: rgb(0, 0, 0); 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-button:hover {
    background-color: #313131; 
}

/* Task complete button styles */
.complete-button {
    padding: 8px 12px;
    background-color: #4BB543; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.complete-button:hover {
    background-color: #8fec80; 
}

/* Delete button styles */
.delete {
    padding: 8px 12px;
    background-color: #ED4337; /* Red color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete:hover {
    background-color: #ff6666; /* Lighter red color on hover */
}

/* Styles for first row of table */
table.createTaskForm tr:first-child {
    background-color: #ffffff; 
}


.input-container {
    margin-bottom: 20px;
}

.input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    outline: none;
}

.enter-btn {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background: #1eff00;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.enter-btn:hover {
    background: #8fec80; 
}

/* CSS for the pop-up */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}