/*sets page margins to 0 to ensure no white gaps and sets a universal/default font style*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* This creates a box which serves as a background for all of the screens */

.box {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #191970;
}


/* CSS for the login/signup forms */

.form {
    width: 380px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
}


/* CSS for buttons on login and signup pages */

.btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #48D1CC;
    border-radius: 30px;
    transition: .5s;
}

.input-box {
    top: 220px;
    position: absolute;
    width: 280px;
    transition: .5s
}

.login-header {
    text-align: center;
    margin-top: 10px; 
    padding-top: 20px;
    font-size: 40px; 
}

.signup-header {
    text-align: center;
    margin-top: 10px; 
    padding-top: 20px;
    font-size: 40px; 
}


/* CSS for input fields on login and signup */

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.enter-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #48D1CC;
    border: 0;
    outline: none;
    border-radius: 30px;
}


/* CSS for the logo on the login an sign up pages */

.logo {
    width: 250px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding-bottom: 50px
}

.fa {
    color: black;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container i {
    margin-right: 10px;
}

#login {
    left: 50px;
}

#signup {
    left: 50px;
}


/* CSS for the navbar at the top, this sets the background colour, esnures it stays at the top of the screen during scrolling, makes sure theres no gap and also aligns all the text in the center */

.navbar {
    background-color: #48D1CC;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1;
}

.menuitems {
    display: inline-block;
    color: white;
    padding: 1em 5%;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans';
}


/* This ensures that if a menu item is hovered upon, it changes colour to reflect the hover */

.menuitems a:hover {
    background-color: rgb(142, 165, 187);
}


/* CSS for the create and view task pages, mainly just ensures it is somewhat presentable on the screen */

.headingAllTasks {
    padding-left: 10%;
    text-align: center;
    font-size: 150%;
}

.createTaskForm {
    width: 50%;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
}

.taskFormContentWrapper {
    position: absolute;
    top: -50px;
    left: 300px;
    width: 300px;
    height: 300px;
}

.taskFormContent {
    position: relative;
    display: block;
    margin: 0 auto;
}


/* Popup Styles */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* CSS to close the popup box for task updates */

.close {
    float: right;
    cursor: pointer;
}


/* Update List Styles */

#updatesTable {
    flex: 1;
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#updatesTable th,
#updatesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#updateInput {
    width: calc(100% - 60px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#addUpdateBtn {
    width: 60px;
    padding: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}